.contenedor_menu{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #b4b4b4;
    border: solid 3px #000;
    border-radius: 30px;
    cursor: pointer;
}
.contenedor_menu:hover{
    background-color: #e7e7e7;
    transform: scale(1,1.05);
}

.title-btn{
    text-align: center;
    font-size: 140%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 250%;
}
